<div class="container">
    <h1 class="mt-3">Editar usuario</h1>
    <a [routerLink]="['/usuario']" href="#">Regresar</a>

    <form #formulario="ngForm" (ngSubmit)="actualizarUsuario()" class="mt-5 needs-validation" novalidate>
            <h4 class="my-4">ID de usuario: {{usuario.id_usuario}} </h4>


        <!-- NOMBRE_USUARIO -->
        <div class="mb-3">
            <label for="nombre_usuario" class="form-label">Actualizar Nombre </label>
            <input
            type="text"
            id="nombre_usuario"
            name="nombre_usuario"
            [(ngModel)]="usuario.nombre_usuario"
            #nombre_usuario="ngModel"
            required
            minlenght="4"
            class="form-control"
            [class.is-invalid]="nombre_usuario.invalid && nombre_usuario.touched"
            [class.is-valid]="nombre_usuario.valid && nombre_usuario.touched" />
            <div *ngIf="nombre_usuario.invalid && nombre_usuario.touched" class="invalid-feedback">
                El nombre es obligatorio y debe tener al menos 3 caracteres.
            </div>
        </div>

            <!-- CONTRASEÑA -->
    <div class="mb-3">
      <label for="contraseña" class="form-label">Nueva contraseña</label>
      <small class="text-muted ms-3">
        La contraseña debe incluir: al menos 6 caracteres, una letra mayúscula, una minúscula, un número y un símbolo.
      </small>

      <div class="input-group">
          <input
          [type]="verContrasena ? 'text' : 'password'"
          id="contraseña"
          name="contraseña"
          [(ngModel)]="usuario['contraseña']"
          #contrasena="ngModel"
          required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{6,}$"
          class="form-control"
          [class.is-invalid]="contrasena.invalid && contrasena.touched"
          [class.is-valid]="contrasena.valid && contrasena.touched"
          />
          <button type="button" class="btn btn-outline-secondary" (click)="toggleVerContrasena()">
            <i [class]="verContrasena ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
          </button>
        </div>
      <div *ngIf="contrasena.invalid && contrasena.touched" class="invalid-feedback">
        La contraseña debe tener al menos 6 caracteres, una mayúscula, una minúscula, un número y un símbolo.
      </div>
    </div>

    <!-- CONFIRMAR CONTRASEÑA -->
    <div class="mb-3">
      <label for="confirmar_contrasena" class="form-label">Confirmar nueva contraseña</label>
      <div class="input-group">

          <input
          [type]="verConfirmar ? 'text' : 'password'"
          id="confirmar_contrasena"
        name="confirmar_contrasena"
        [(ngModel)]="confirmar_contrasena"
        #confirmar_contrasenaCampo="ngModel"
        required
        minlength="6"
        class="form-control"
        [class.is-invalid]="confirmar_contrasenaCampo.touched && confirmar_contrasena !== usuario['contraseña']"
        [class.is-valid]="confirmar_contrasenaCampo.touched && confirmar_contrasena === usuario['contraseña']"
        />
        <button type="button" class="btn btn-outline-secondary" (click)="toggleVerConfirmar()">
            <i [class]="verConfirmar ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
        </button>
    </div>
       <div *ngIf="confirmar_contrasenaCampo.touched && confirmar_contrasena !== usuario['contraseña']" class="invalid-feedback">
        Las contraseñas no coinciden.
      </div>
    </div>

    <!-- ROL -->
    <div class="mb-3">
      <label for="rol" class="form-label">Rol</label>
      <select
        id="rol"
        name="rol"
        [(ngModel)]="usuario.rol"
        #rol="ngModel"
        required
        class="form-select"
        [class.is-invalid]="rol.invalid && rol.touched"
        [class.is-valid]="rol.valid && rol.touched"
      >
        <option value="">Seleccione un rol</option>
        <option value="Cliente">Cliente</option>
        <option value="Administrador">Administrador</option>
        <option value="Master">Master</option>
      </select>
      <div *ngIf="rol.invalid && rol.touched" class="invalid-feedback">
        Debe seleccionar un rol.
      </div>
    </div>

    <!-- IMAGEN -->
    <div class="mb-3">
      <label for="imagen_usuario" class="form-label">Imagen (URL)</label>
      <input
        type="text"
        id="imagen_usuario"
        name="imagen_usuario"
        [(ngModel)]="usuario.imagen_usuario"
        #imagen_usuario="ngModel"
        class="form-control"
      />
    </div>

    <!-- ESTADO -->
    <div class="mb-3">
      <label for="estado" class="form-label">Estado</label>
      <select
        id="estado"
        name="estado"
        [(ngModel)]="usuario.estado"
        #estado="ngModel"
        required
        class="form-select"
        [class.is-invalid]="estado.invalid && estado.touched"
        [class.is-valid]="estado.valid && estado.touched"
      >
        <option value="" disabled selected>Seleccione un estado</option>
        <option value="Activo">Activo</option>
        <option value="Inactivo">Inactivo</option>
        <option value="Pendiente">Pendiente</option>
        <option value="Suspendido">Suspendido</option>
        <option value="Archivado">Archivado</option>
      </select>
      <div *ngIf="estado.invalid && estado.touched" class="invalid-feedback">
        Debe seleccionar un estado.
      </div>
    </div>

    <!-- BOTÓN -->
    <button type="submit" class="btn btn-success w-100" [disabled]="formulario.invalid">
      Actualizar Usuario
    </button>

     <!-- ALERTA DE ÉXITO -->
    <div *ngIf="mensajeExito" class="alert alert-success mt-4" role="alert">
      🎉 {{ mensajeExito }}
    </div>

    <!-- ALERTA DE ERROR -->
    <div *ngIf="mensajeError" class="alert alert-danger mt-4" role="alert">
      ⚠️ {{ mensajeError }}
    </div>

  </form>
</div>